-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: ecommerce_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=1901 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_passwordresettoken`
--

DROP TABLE IF EXISTS `login_passwordresettoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `login_passwordresettoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_used` tinyint(1) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `login_passwordresettoken_user_id_b75e8cd9_fk_auth_user_id` (`user_id`),
  CONSTRAINT `login_passwordresettoken_user_id_b75e8cd9_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_passwordresettoken`
--

LOCK TABLES `login_passwordresettoken` WRITE;
/*!40000 ALTER TABLE `login_passwordresettoken` DISABLE KEYS */;
INSERT INTO `login_passwordresettoken` VALUES (1,'47d880a0-6023-4dc3-9ced-c3ddb2f6b543','2026-04-14 14:37:58.844570',1,2);
/*!40000 ALTER TABLE `login_passwordresettoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_userprofile`
--

DROP TABLE IF EXISTS `login_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `login_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `address_line1` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address_line2` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `city` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `phone_number` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_verified` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pincode` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `profile_picture` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `login_userprofile_user_id_be79e1fe_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_userprofile`
--

LOCK TABLES `login_userprofile` WRITE;
/*!40000 ALTER TABLE `login_userprofile` DISABLE KEYS */;
INSERT INTO `login_userprofile` VALUES (3,'2026-04-14 14:36:51.770355','2026-04-21 13:43:54.580082',2,'','','',NULL,'+917303517833','verified','','',''),(4,'2026-04-20 17:30:50.970842','2026-04-20 17:30:50.970937',4,'','','',NULL,NULL,'not_set','',NULL,''),(5,'2026-04-22 05:20:30.501061','2026-04-22 05:20:30.501107',5,'','','',NULL,NULL,'not_set','','','');
/*!40000 ALTER TABLE `login_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myaccount_address`
--

DROP TABLE IF EXISTS `myaccount_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myaccount_address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_number` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address_line_1` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address_line_2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `state` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `postal_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `country` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_default` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `MyAccount_address_user_id_2145b61f_fk_auth_user_id` (`user_id`),
  CONSTRAINT `MyAccount_address_user_id_2145b61f_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myaccount_address`
--

LOCK TABLES `myaccount_address` WRITE;
/*!40000 ALTER TABLE `myaccount_address` DISABLE KEYS */;
INSERT INTO `myaccount_address` VALUES (3,'shivam','7303517833','d-17/15',NULL,'Noida','Uttar Pradesh','201301','India','home',1,'2026-04-15 18:16:41.532814','2026-04-15 18:16:41.532851',2),(4,'shivam','9319123319','D-17/7',NULL,'Noida','Uttar Pradesh','201301','India','work',0,'2026-04-15 18:47:48.968655','2026-04-15 18:47:48.968748',2);
/*!40000 ALTER TABLE `myaccount_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myaccount_contactmessage`
--

DROP TABLE IF EXISTS `myaccount_contactmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myaccount_contactmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subject` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_resolved` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `MyAccount_contactmessage_user_id_cf05544e_fk_auth_user_id` (`user_id`),
  CONSTRAINT `MyAccount_contactmessage_user_id_cf05544e_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myaccount_contactmessage`
--

LOCK TABLES `myaccount_contactmessage` WRITE;
/*!40000 ALTER TABLE `myaccount_contactmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `myaccount_contactmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myaccount_notificationsettings`
--

DROP TABLE IF EXISTS `myaccount_notificationsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myaccount_notificationsettings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_updates` tinyint(1) NOT NULL,
  `promotional_emails` tinyint(1) NOT NULL,
  `newsletter` tinyint(1) NOT NULL,
  `app_notifications` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `sms_notifications` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `MyAccount_notificationsettings_user_id_8789b065_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myaccount_notificationsettings`
--

LOCK TABLES `myaccount_notificationsettings` WRITE;
/*!40000 ALTER TABLE `myaccount_notificationsettings` DISABLE KEYS */;
INSERT INTO `myaccount_notificationsettings` VALUES (1,1,1,1,1,'2026-04-06 16:45:22.924234','2026-04-17 12:08:50.920919',2,1),(2,1,1,1,1,'2026-04-20 17:32:20.156998','2026-04-20 17:33:58.176584',4,1);
/*!40000 ALTER TABLE `myaccount_notificationsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myaccount_ordertrackingnote`
--

DROP TABLE IF EXISTS `myaccount_ordertrackingnote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myaccount_ordertrackingnote` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `MyAccount_ordertrackingnote_user_id_04baf2ce_fk_auth_user_id` (`user_id`),
  CONSTRAINT `MyAccount_ordertrackingnote_user_id_04baf2ce_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myaccount_ordertrackingnote`
--

LOCK TABLES `myaccount_ordertrackingnote` WRITE;
/*!40000 ALTER TABLE `myaccount_ordertrackingnote` DISABLE KEYS */;
/*!40000 ALTER TABLE `myaccount_ordertrackingnote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myaccount_userprofile`
--

DROP TABLE IF EXISTS `myaccount_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myaccount_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `phone_number` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bio` longtext COLLATE utf8mb4_unicode_ci,
  `gender` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `profile_picture` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `newsletter_subscription` tinyint(1) NOT NULL,
  `email_notifications` tinyint(1) NOT NULL,
  `sms_notifications` tinyint(1) NOT NULL,
  `profile_visibility` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `MyAccount_userprofile_user_id_d1c7fbb2_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myaccount_userprofile`
--

LOCK TABLES `myaccount_userprofile` WRITE;
/*!40000 ALTER TABLE `myaccount_userprofile` DISABLE KEYS */;
INSERT INTO `myaccount_userprofile` VALUES (2,'7303517833','noone to no one','male','2004-03-04','',1,1,1,'private','2026-04-06 16:45:22.916070','2026-04-15 18:58:17.231798',2),(4,'9289157457','','female','2004-05-24','',1,1,1,'private','2026-04-20 17:31:07.090324','2026-04-20 17:34:52.234584',4),(5,NULL,NULL,NULL,NULL,'',0,1,0,'private','2026-04-22 05:23:05.530781','2026-04-22 05:23:05.531003',5);
/*!40000 ALTER TABLE `myaccount_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_cart`
--

DROP TABLE IF EXISTS `mystore_cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_cart` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `MyStore_cart_user_id_bf698421_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_cart`
--

LOCK TABLES `mystore_cart` WRITE;
/*!40000 ALTER TABLE `mystore_cart` DISABLE KEYS */;
INSERT INTO `mystore_cart` VALUES (1,'2026-04-06 16:45:08.476185','2026-04-06 16:45:08.476245',2),(3,'2026-04-20 17:31:19.169098','2026-04-20 17:31:19.169238',4),(4,'2026-04-22 05:23:26.358143','2026-04-22 05:23:26.358184',5);
/*!40000 ALTER TABLE `mystore_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_cartitem`
--

DROP TABLE IF EXISTS `mystore_cartitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_cartitem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `added_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `cart_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_cart_product` (`cart_id`,`product_id`),
  KEY `MyStore_cartitem_product_id_4405a66f_fk_MyStore_product_id` (`product_id`),
  CONSTRAINT `MyStore_cartitem_cart_id_a48d6dcd_fk_MyStore_cart_id` FOREIGN KEY (`cart_id`) REFERENCES `mystore_cart` (`id`),
  CONSTRAINT `MyStore_cartitem_product_id_4405a66f_fk_MyStore_product_id` FOREIGN KEY (`product_id`) REFERENCES `mystore_product` (`id`),
  CONSTRAINT `mystore_cartitem_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_cartitem`
--

LOCK TABLES `mystore_cartitem` WRITE;
/*!40000 ALTER TABLE `mystore_cartitem` DISABLE KEYS */;
INSERT INTO `mystore_cartitem` VALUES (59,2,'2026-04-22 05:23:26.367408','2026-04-22 05:23:26.367449',4,491),(66,2,'2026-04-24 16:53:07.177719','2026-04-24 16:53:07.177755',1,491),(67,1,'2026-04-24 16:53:14.749297','2026-04-24 16:53:14.749332',1,493),(68,1,'2026-04-24 16:53:24.257332','2026-04-24 16:53:24.257413',1,494),(69,1,'2026-04-24 16:53:36.836790','2026-04-24 16:53:36.836830',1,482),(70,1,'2026-04-24 16:53:40.445616','2026-04-24 16:53:40.445660',1,484),(71,1,'2026-04-24 16:53:44.020562','2026-04-24 16:53:44.020632',1,490);
/*!40000 ALTER TABLE `mystore_cartitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_category`
--

DROP TABLE IF EXISTS `mystore_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=574 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_category`
--

LOCK TABLES `mystore_category` WRITE;
/*!40000 ALTER TABLE `mystore_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_faq`
--

DROP TABLE IF EXISTS `mystore_faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_faq` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `question` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `answer` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `mystore_faq_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_faq`
--

LOCK TABLES `mystore_faq` WRITE;
/*!40000 ALTER TABLE `mystore_faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_order`
--

DROP TABLE IF EXISTS `mystore_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_order` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `state` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pincode` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `shipping_charge` decimal(10,2) NOT NULL,
  `tax` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `payment_method` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_order_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `refund_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `refund_reason` longtext COLLATE utf8mb4_unicode_ci,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tracking_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `admin_notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `confirmed_at` datetime(6) DEFAULT NULL,
  `shipped_at` datetime(6) DEFAULT NULL,
  `delivered_at` datetime(6) DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `MyStore_ord_order_n_a6d1b1_idx` (`order_number`),
  KEY `MyStore_ord_user_id_631072_idx` (`user_id`,`created_at`),
  KEY `MyStore_ord_status_f44d31_idx` (`status`),
  CONSTRAINT `MyStore_order_user_id_980f130a_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_order`
--

LOCK TABLES `mystore_order` WRITE;
/*!40000 ALTER TABLE `mystore_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_orderitem`
--

DROP TABLE IF EXISTS `mystore_orderitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_orderitem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_sku` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` int unsigned NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `MyStore_orderitem_order_id_a3a3d9de_fk_MyStore_order_id` (`order_id`),
  KEY `MyStore_orderitem_product_id_95ca6877_fk_MyStore_product_id` (`product_id`),
  CONSTRAINT `MyStore_orderitem_order_id_a3a3d9de_fk_MyStore_order_id` FOREIGN KEY (`order_id`) REFERENCES `mystore_order` (`id`),
  CONSTRAINT `MyStore_orderitem_product_id_95ca6877_fk_MyStore_product_id` FOREIGN KEY (`product_id`) REFERENCES `mystore_product` (`id`),
  CONSTRAINT `mystore_orderitem_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_orderitem`
--

LOCK TABLES `mystore_orderitem` WRITE;
/*!40000 ALTER TABLE `mystore_orderitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_orderitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_product`
--

DROP TABLE IF EXISTS `mystore_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `original_price` decimal(10,2) DEFAULT NULL,
  `stock` int unsigned NOT NULL,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image2` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image3` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `brand` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sku` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_featured` tinyint(1) NOT NULL,
  `meta_keywords` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `meta_description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  UNIQUE KEY `sku` (`sku`),
  KEY `MyStore_pro_slug_747869_idx` (`slug`),
  KEY `MyStore_pro_is_acti_8a1232_idx` (`is_active`),
  KEY `MyStore_pro_categor_462ad1_idx` (`category_id`),
  KEY `MyStore_pro_is_feat_6bd80e_idx` (`is_featured`),
  CONSTRAINT `MyStore_product_category_id_29806364_fk_MyStore_category_id` FOREIGN KEY (`category_id`) REFERENCES `mystore_category` (`id`),
  CONSTRAINT `mystore_product_chk_1` CHECK ((`stock` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=496 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_product`
--

LOCK TABLES `mystore_product` WRITE;
/*!40000 ALTER TABLE `mystore_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_refundrequest`
--

DROP TABLE IF EXISTS `mystore_refundrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_refundrequest` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reason` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `order_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `MyStore_refundrequest_order_id_a4b753f5_fk_MyStore_order_id` (`order_id`),
  KEY `MyStore_refundrequest_user_id_a6a891a3_fk_auth_user_id` (`user_id`),
  CONSTRAINT `MyStore_refundrequest_order_id_a4b753f5_fk_MyStore_order_id` FOREIGN KEY (`order_id`) REFERENCES `mystore_order` (`id`),
  CONSTRAINT `MyStore_refundrequest_user_id_a6a891a3_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_refundrequest`
--

LOCK TABLES `mystore_refundrequest` WRITE;
/*!40000 ALTER TABLE `mystore_refundrequest` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_refundrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_returnpolicy`
--

DROP TABLE IF EXISTS `mystore_returnpolicy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_returnpolicy` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `return_window_days` int unsigned NOT NULL,
  `refund_percentage` int unsigned NOT NULL,
  `conditions` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `process_steps` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `mystore_returnpolicy_chk_1` CHECK ((`return_window_days` >= 0)),
  CONSTRAINT `mystore_returnpolicy_chk_2` CHECK ((`refund_percentage` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_returnpolicy`
--

LOCK TABLES `mystore_returnpolicy` WRITE;
/*!40000 ALTER TABLE `mystore_returnpolicy` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_returnpolicy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_returnrequest`
--

DROP TABLE IF EXISTS `mystore_returnrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_returnrequest` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `refund_amount` decimal(10,2) DEFAULT NULL,
  `tracking_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `requested_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `resolution_date` datetime(6) DEFAULT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `MyStore_returnrequest_order_id_d6df0ba4_fk_MyStore_order_id` (`order_id`),
  KEY `MyStore_returnrequest_product_id_db11603d_fk_MyStore_product_id` (`product_id`),
  KEY `MyStore_returnrequest_user_id_0866a25d_fk_auth_user_id` (`user_id`),
  CONSTRAINT `MyStore_returnrequest_order_id_d6df0ba4_fk_MyStore_order_id` FOREIGN KEY (`order_id`) REFERENCES `mystore_order` (`id`),
  CONSTRAINT `MyStore_returnrequest_product_id_db11603d_fk_MyStore_product_id` FOREIGN KEY (`product_id`) REFERENCES `mystore_product` (`id`),
  CONSTRAINT `MyStore_returnrequest_user_id_0866a25d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_returnrequest`
--

LOCK TABLES `mystore_returnrequest` WRITE;
/*!40000 ALTER TABLE `mystore_returnrequest` DISABLE KEYS */;
INSERT INTO `mystore_returnrequest` VALUES (5,'BrandX Sandals Pro, Natural Loafers Max','other','its not what i ordered for','rejected',0.00,NULL,'2026-04-11 10:17:51.016957','2026-04-11 10:18:53.599684',NULL,13,NULL,2);
/*!40000 ALTER TABLE `mystore_returnrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_review`
--

DROP TABLE IF EXISTS `mystore_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_review` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rating` int unsigned NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `comment` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_verified_purchase` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `product_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_product_review` (`product_id`,`user_id`),
  KEY `MyStore_review_user_id_81eb3914_fk_auth_user_id` (`user_id`),
  CONSTRAINT `MyStore_review_product_id_5922b46f_fk_MyStore_product_id` FOREIGN KEY (`product_id`) REFERENCES `mystore_product` (`id`),
  CONSTRAINT `MyStore_review_user_id_81eb3914_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `mystore_review_chk_1` CHECK ((`rating` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_review`
--

LOCK TABLES `mystore_review` WRITE;
/*!40000 ALTER TABLE `mystore_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_termsofservice`
--

DROP TABLE IF EXISTS `mystore_termsofservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_termsofservice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `version` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `effective_date` date NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_termsofservice`
--

LOCK TABLES `mystore_termsofservice` WRITE;
/*!40000 ALTER TABLE `mystore_termsofservice` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_termsofservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_usertosagreement`
--

DROP TABLE IF EXISTS `mystore_usertosagreement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_usertosagreement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agreed_at` datetime(6) NOT NULL,
  `ip_address` char(39) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tos_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `MyStore_usertosagree_tos_id_77c17a3a_fk_MyStore_t` (`tos_id`),
  CONSTRAINT `MyStore_usertosagree_tos_id_77c17a3a_fk_MyStore_t` FOREIGN KEY (`tos_id`) REFERENCES `mystore_termsofservice` (`id`),
  CONSTRAINT `MyStore_usertosagreement_user_id_fd0b6f9d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_usertosagreement`
--

LOCK TABLES `mystore_usertosagreement` WRITE;
/*!40000 ALTER TABLE `mystore_usertosagreement` DISABLE KEYS */;
/*!40000 ALTER TABLE `mystore_usertosagreement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mystore_wishlist`
--

DROP TABLE IF EXISTS `mystore_wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mystore_wishlist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `added_at` datetime(6) NOT NULL,
  `product_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_wishlist_item` (`user_id`,`product_id`),
  KEY `MyStore_wishlist_product_id_f3645fde_fk_MyStore_product_id` (`product_id`),
  CONSTRAINT `MyStore_wishlist_product_id_f3645fde_fk_MyStore_product_id` FOREIGN KEY (`product_id`) REFERENCES `mystore_product` (`id`),
  CONSTRAINT `MyStore_wishlist_user_id_d2fe86ba_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mystore_wishlist`
--

LOCK TABLES `mystore_wishlist` WRITE;
/*!40000 ALTER TABLE `mystore_wishlist` DISABLE KEYS */;
INSERT INTO `mystore_wishlist` VALUES (24,'2026-04-17 13:51:28.509157',477,2),(25,'2026-04-18 12:18:16.044414',436,2),(26,'2026-04-18 12:32:04.028113',486,2),(27,'2026-04-18 19:19:47.931848',378,2),(28,'2026-04-22 05:23:22.349129',491,5),(29,'2026-04-22 06:26:35.356461',492,2);
/*!40000 ALTER TABLE `mystore_wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentmethod_invoice`
--

DROP TABLE IF EXISTS `paymentmethod_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymentmethod_invoice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bill_to_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bill_to_email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bill_to_address` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `tax` decimal(10,2) NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `issued_at` datetime(6) NOT NULL,
  `payment_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  UNIQUE KEY `payment_id` (`payment_id`),
  CONSTRAINT `PaymentMethod_invoic_payment_id_f70f92a9_fk_PaymentMe` FOREIGN KEY (`payment_id`) REFERENCES `paymentmethod_payment` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentmethod_invoice`
--

LOCK TABLES `paymentmethod_invoice` WRITE;
/*!40000 ALTER TABLE `paymentmethod_invoice` DISABLE KEYS */;
/*!40000 ALTER TABLE `paymentmethod_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentmethod_payment`
--

DROP TABLE IF EXISTS `paymentmethod_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymentmethod_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gateway` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `transaction_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gateway_response` json DEFAULT NULL,
  `refund_amount` decimal(10,2) DEFAULT NULL,
  `refund_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `refund_date` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `payment_method_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `PaymentMethod_paymen_payment_method_id_549c29e5_fk_PaymentMe` (`payment_method_id`),
  KEY `PaymentMethod_payment_user_id_5ecc06a1_fk_auth_user_id` (`user_id`),
  CONSTRAINT `PaymentMethod_paymen_payment_method_id_549c29e5_fk_PaymentMe` FOREIGN KEY (`payment_method_id`) REFERENCES `paymentmethod_paymentmethod` (`id`),
  CONSTRAINT `PaymentMethod_payment_user_id_5ecc06a1_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentmethod_payment`
--

LOCK TABLES `paymentmethod_payment` WRITE;
/*!40000 ALTER TABLE `paymentmethod_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `paymentmethod_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentmethod_paymentmethod`
--

DROP TABLE IF EXISTS `paymentmethod_paymentmethod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymentmethod_paymentmethod` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `method_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `card_holder_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `card_number` varchar(19) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_month` int unsigned DEFAULT NULL,
  `expiry_year` int unsigned DEFAULT NULL,
  `card_last4` varchar(4) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `upi_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paypal_email` varchar(254) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bank_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `account_identifier` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_default` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `PaymentMethod_paymentmethod_user_id_e544b5ef_fk_auth_user_id` (`user_id`),
  CONSTRAINT `PaymentMethod_paymentmethod_user_id_e544b5ef_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `paymentmethod_paymentmethod_chk_1` CHECK ((`expiry_month` >= 0)),
  CONSTRAINT `paymentmethod_paymentmethod_chk_2` CHECK ((`expiry_year` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentmethod_paymentmethod`
--

LOCK TABLES `paymentmethod_paymentmethod` WRITE;
/*!40000 ALTER TABLE `paymentmethod_paymentmethod` DISABLE KEYS */;
/*!40000 ALTER TABLE `paymentmethod_paymentmethod` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `validation_phoneotp`
--

DROP TABLE IF EXISTS `validation_phoneotp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `validation_phoneotp` (
  `otp_id` int NOT NULL AUTO_INCREMENT,
  `phone_number` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `otp` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `is_used` tinyint(1) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`otp_id`),
  KEY `Validation_phoneotp_user_id_06056fdf_fk_auth_user_id` (`user_id`),
  CONSTRAINT `Validation_phoneotp_user_id_06056fdf_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `validation_phoneotp_chk_1` CHECK ((`attempts` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `validation_phoneotp`
--

LOCK TABLES `validation_phoneotp` WRITE;
/*!40000 ALTER TABLE `validation_phoneotp` DISABLE KEYS */;
INSERT INTO `validation_phoneotp` VALUES (1,'+917303517833','271190','2026-04-21 13:43:29.462835','2026-04-21 13:48:29.462034',3,1,2),(3,'+919289157457','238594','2026-04-21 13:54:57.446446','2026-04-21 13:59:57.445271',0,0,4),(4,'+918587890750','007330','2026-04-22 05:22:59.316428','2026-04-22 05:27:59.315831',0,0,5);
/*!40000 ALTER TABLE `validation_phoneotp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'ecommerce_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 15:26:37
