{% extends 'base.html' %}
{% block title %}Set New Password – ShopZone{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="mb-4 text-center text-primary">Set New Password</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100 mt-3">
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
